@import '../../styles/global.css';

.app {
  font-size: var(--font-size-base);
  color: var(--color-text-base);
  font-weight: var(--font-weight-normal);
  font-family: var(--font-family-base);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.app__header-logo {
  height: 8em;
  padding: 1rem;
}

.app__welcome-header {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
}

.app__welcome-list {
  color: var(--color-text-subtle);
  font-size: var(--font-size-medium);
  list-style: inside;
  text-align: left;

  li {
    margin-bottom: 0.5rem;
  }
}

.app__footer {
  display: flex;
  justify-content: space-around;
}

.app__footer-logo {
  height: 2.5rem;
  margin-top: 1rem;
}
